<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about transcribify</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-microphone"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link mr-3 mr-lg-5" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link mr-3 mr-lg-5" href="/record">transcribe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link mr-3 mr-lg-5" href="/about">about</a>
                </li>
            </ul>
        </div>
</nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2 style="font-family: 'DM Serif Display', serif;">it all started with a class...</h2>
                <p class="about-p-text">columbia student <strong>amelia wissink</strong> was in a web design studio class when she was tasked with creating a <strong>useful</strong> website using <strong>generative AI</strong>. she thought for weeks about something that could be useful for her classmates to no avail, until one of her friends said:</p>
                <h2 style="font-family: 'DM Serif Display', serif;">"wow, I hate listening to voice memos."</h2>
                <p class="about-p-text">a lightbulb went off, and <strong>transcribify</strong> was born!</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>